@model TrocaJusta.Models.Troca

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Troca</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioId1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioId1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioId2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioId2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServicoId1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServicoId1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServicoId2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServicoId2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnderecoId1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnderecoId1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnderecoId2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnderecoId2)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Trocaid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
