@model IEnumerable<TrocaJusta.Models.Troca>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioId1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioId2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServicoId1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServicoId2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnderecoId1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnderecoId2)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioId1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioId2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServicoId1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServicoId2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnderecoId1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnderecoId2)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Trocaid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Trocaid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Trocaid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
